@import "reset";
@import "variables";

/***************************
 * Global
 **************************/

* {
  box-sizing: border-box;
}

body {
  background-color: $blue;
  font: normal 16px/24px Montserrat, Helvetica, Arial, freesans, sans-serif;
  // TEMPORAIRE
  overflow: hidden;
}

.bg-style {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: center/cover;
  filter: grayscale(100%);
}

.wrapper {
  width: 920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.sub-wrapper {
  width: $cardWidth;
  margin: 0 auto;
  position: relative;
}

#viewport {
  position: relative;
  height: $cardHeight;
}

/***************************
 * Styles
 **************************/
.page-heading {
  font-family: Vidaloka;
  color: #fff;
  text-align: center;
  //margin: 30px 0 54px;
  margin-bottom: 34px; //TEMP
  padding-top: 20px; //TEMP
  letter-spacing: 1.5px;
  position: relative;
  opacity: 0;
  .bar {
    content: '';
    position: absolute;
    height: 12px;
    width: calc(100% + 106px);
    bottom: -10px;
    overflow: hidden;
    .bar-style {
      height: 1px;
      width: 106px;
      position: absolute;
      background-color: $red;
      right: 60px;
    }
  }
}

.border {
  border: 1px solid $red;
}

/***************************
 * Top Navigation
 **************************/

.top-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  //margin-bottom: 56px;
  margin-bottom: 36px; //TEMP
  .card-navigation {
    text-align: center;
    border-radius: 20px;
    line-height: 2.2;
    position: relative;
    padding: 0 36px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .25s background-color ease-out;
    -moz-transition: .25s background-color ease-out;
    -ms-transition: .25s background-color ease-out;
    -o-transition: .25s background-color ease-out;
    transition: .25s background-color ease-out;
    .icon {
      opacity: 0;
      overflow: hidden;
      height: 0;
    }
    .icon, .content {
      -webkit-transition: .25s opacity ease-out;
      -moz-transition: .25s opacity ease-out;
      -ms-transition: .25s opacity ease-out;
      -o-transition: .25s opacity ease-out;
      transition: .25s opacity ease-out;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: $red;
      z-index: -1;
      -webkit-transition: .25s all ease-out;
      -moz-transition: .25s all ease-out;
      -ms-transition: .25s all ease-out;
      -o-transition: .25s all ease-out;
      transition: .25s all ease-out;
    }
    &.card-prev {
      .icon {
        background: url(./../img/card-left.png) no-repeat center;
      }
      &:before {
        right: -100%;
      }
      &:hover {
        &:before {
          right: 0;
        }
      }
    }
    &.card-next {
      .icon {
        background: url(./../img/card-right.png) no-repeat center;
      }
      &:before {
        left: -100%;
      }
      &:hover {
        &:before {
          left: 0;
        }
      }
    }
    &:hover {
      .icon {
        opacity: 1;
        height: 11px;
        width: 22px;
        margin: 6px auto;
      }
      .content {
        opacity: 0;
        height: 0;
      }
    }
  }
  .card-navigation-sep {
    background-color: $red;
    font-size: 24px;
    font-family: Vidaloka;
    height: 26px;
    width: 2px;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
}

/***************************
 * Cards
 **************************/
.card-tuto {
  background: url(./../img/card-tuto.gif) no-repeat center;
  z-index: 200;
  opacity: .95;
  color: #fff;
  text-align: center;
  h2 {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 45px;
  }
  h4 {
    font-size: 13px;
    line-height: 1.2;
  }
}

.card-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% + #{$cardWidth/2});
  z-index: 200;
}

.card {
  display: none;
  flex-direction: column;
  opacity: 0;
  width: $cardWidth;
  height: $cardHeight;
  position: absolute;
  left: calc(50% - #{$cardWidth/2});
  border-radius: 20px;
  -webkit-transition: .3s opacity ease-out;
  -moz-transition: .3s opacity ease-out;
  -ms-transition: .3s opacity ease-out;
  -o-transition: .3s opacity ease-out;
  transition: .3s opacity ease-out;
  &:nth-child(2) {
    height: $cardHeight - 36px;
    left: calc(50% - #{$cardWidth/2} + 18px);
    top: 18px;
  }
  &:nth-child(3) {
    height: $cardHeight - 72px;
    left: calc(50% - #{$cardWidth/2} + 36px);
    top: 36px;
  }
  &:nth-child(4) {
    height: $cardHeight - 108px;
    left: calc(50% - #{$cardWidth/2} + 54px);
    top: 54px;
  }
  &:nth-child(5) {
    height: $cardHeight - 144px;
    left: calc(50% - #{$cardWidth/2} + 72px);
    top: 72px;
  }
  &:nth-child(-n+5) {
    display: flex;
    box-shadow: 0 0 36px rgba(0, 0, 0, .6);
  }
  &:last-child {
    display: flex;
  }
  &.in-deck {
    opacity: 1;
  }
  .bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }
  &.no-translate {
    -webkit-transform: translate(0) !important;
    -moz-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
    -o-transform: translate(0) !important;
    transform: translate(0) !important;
  }
}

.hide {
  opacity: 0 !important;
  display: none !important;
}

.card-content {
  width: 320px;
  position: absolute;
  left: -220px;
  top: 0;
  padding-left: 20px;
  overflow: hidden;
  text-align: right;
  .card-title {
    margin-top: 30px;
    line-height: 1.2;
    font-family: Vidaloka;
    font-size: 45px;
    color: #fff;
    overflow: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

  }
  .card-bar {
    height: 1px;
    width: 0;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 12px;
  }
  .card-year {
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 5px;
    color: #fff;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.card-extra-viewport {
  overflow: hidden;
  position: absolute;
  top: 40%;
  right: 50%;
  width: 310px;
  height: 192px;
  .card-extra {
    display: none;
    z-index: 1001;
    background: url(../img/bg-card-extra.png) no-repeat center;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    .card-extra-close {
      background: url(../img/card-extra-close.png) no-repeat center;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
    .card-entries {
      margin: 40px 0 20px;
      overflow: hidden;
      .card-entries-number {
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 12px;
      }
      .card-entries-label {
        font-size: 11px;
        line-height: 1;
      }
    }
    .card-extra-parts {
      display: flex;
      align-items: center;
      height: 77px;
      justify-content: center;
      border-top: 1px solid rgba(255, 255, 255, .4);
      .card-real, .card-country {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
      }
      .card-real {
        border-right: 1px solid rgba(255, 255, 255, .4);
      }
      .card-real-name, .card-country-name {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 12px;
      }
      .card-real-label, .card-country-label {
        font-size: 11px;
        line-height: 1;
      }
    }
  }
}

/***************************
 * Nav
 **************************/
footer {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  .legend {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    .min-year, .max-year, .legend-year {
      position: absolute;
      left: -60px;
      right: -60px;
      color: rgba(255, 255, 255, .4);
      font-size: 11px;
      .year-number {
        line-height: 1;
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        -moz-transform: translate3d(-30px, 0, 0);
        -ms-transform: translate3d(-30px, 0, 0);
        -o-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0);
      }
      .year-bar {
        height: 0;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 40px;
        right: 40px;
        width: 0;
        top: 6px;
      }
    }
    .legend-year {
      opacity: 0;
      .legend-year-content {
        line-height: 1;
        margin-right: -10px;
        color: $red;
        float: right;
      }
    }
    .max-year {
      top: -6px;
    }
    .min-year {
      bottom: 5px;
    }
  }
  .nav-bar {
    width: 5px;
    margin: 0 2.1px;
    position: relative;
    .nav-bar-content {
      display: none;
      position: absolute;
      //top: -80px;
      top: -65px; //TEMP
      font-size: 13px;
      color: #fff;
      text-align: center;
      -webkit-transform: translate3d(calc(-50% + 2.5px), 0, 0);
      -moz-transform: translate3d(calc(-50% + 2.5px), 0, 0);
      -ms-transform: translate3d(calc(-50% + 2.5px), 0, 0);
      -o-transform: translate3d(calc(-50% + 2.5px), 0, 0);
      transform: translate3d(calc(-50% + 2.5px), 0, 0);
      .nav-bar-rank {
        font-family: Vidaloka;
        color: $red;
        line-height: 1;
        overflow: hidden;
        .nav-bar-rank-content {
          -webkit-transform: translate3d(0, 100%, 0);
          -moz-transform: translate3d(0, 100%, 0);
          -ms-transform: translate3d(0, 100%, 0);
          -o-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      }
      .nav-bar-title {
        white-space: nowrap;
        line-height: 1;
        overflow: hidden;
        .nav-bar-title-content {
          -webkit-transform: translate3d(0, -110%, 0);
          -moz-transform: translate3d(0, -110%, 0);
          -ms-transform: translate3d(0, -110%, 0);
          -o-transform: translate3d(0, -110%, 0);
          transform: translate3d(0, -110%, 0);
        }
      }
      .nav-bar-sep {
        //height: 45px;
        height: 30px; //TEMP
        width: 2px;
        overflow: hidden;
        margin: 4px auto 0;
        .nav-bar-sep-content {
          //height: 45px;
          height: 30px; //TEMP
          width: 1px;
          background-color: #fff;
          -webkit-transform: translate3d(0, 100%, 0);
          -moz-transform: translate3d(0, 100%, 0);
          -ms-transform: translate3d(0, 100%, 0);
          -o-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      }
    }
    .bg {
      width: 5px;
      height: 0;
      background-color: rgba(241, 33, 72, .5);
      cursor: pointer;
      -webkit-transition: .2s background-color ease-out;
      -moz-transition: .2s background-color ease-out;
      -ms-transition: .2s background-color ease-out;
      -o-transition: .2s background-color ease-out;
      transition: .2s background-color ease-out;
    }
    &.current {
      .bg {
        background-color: $red;
      }
    }
    &:hover {
      .bg {
        background-color: $red;
      }
    }
  }
}

/***************************
 * Current
 **************************/
#current {
  position: absolute;
  opacity: 0;
  //top: 28px;
  top: 20px; //TEMP
  //right: 28px;
  right: 20px; //TEMP
  width: 90px;
  font-size: 24px;
  line-height: 1;
  font-family: Vidaloka;
  .current-number {
    color: #fff;
  }
  .current-sep {
    color: $red;
    position: absolute;
    top: 5px;
    right: 38px;
  }
  .current-maxnumber {
    color: $red;
    position: absolute;
    top: 18px;
    right: 0;
  }
}

/***************************
 * Filters
 **************************/
#filters {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  background: url(../img/filters.png) no-repeat center;
  width: 35px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid $red;
  cursor: pointer;
}

.filters-content {
  color: #fff;
  position: absolute;
  top: 26px;
  left: 64px;
  overflow: hidden;
  font-size: 11px;
  p {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/***************************
 * Copyright
 **************************/

#copyright {
  position: absolute;
  bottom: 235px;
  right: -26px;
  -webkit-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -moz-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -ms-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -o-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  transform: rotate(-90deg) translate3d(0, 11vw, 0);
  p {
    font-size: 9px;
    line-height: 1.2;
    color: #fff;
    padding: 0 12px 6px;
    display: inline-block;
    border-left: 1px solid #fff;
    &:last-child {
      border-right: 1px solid #fff;
    }
    a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}



/***************************
 * Responsive
 **************************/

@media all and (max-width: 768px) {
  * {
    max-width: 340px;
  }
  body {
    height: 640px;
  }
  footer, #filters, .filters-content {
    display: none;
  }
  .wrapper {
    width: 90%;
  }
  header {
    margin-top: 40px !important;
  }
  #copyright {
    bottom: -170px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  #cards {
    /* padding-left: 50px; */
    position: relative;
    height: 400px;
    /* margin-left: 50px; */
    overflow: hidden;
    width: 330px;
    .card {
      height: 320px !important;
      width: 240px !important;
      .card-extra-viewport {
        right: -40% !important;
      }
      .card-content {
        left: inherit !important;
        right: 30px;
      }
    }
    .card-tuto h2 {
      line-height: 1.2 !important;
    }
  }
}