/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 32, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************************
 * Variables
 **************************/
/***************************
 * Global
 **************************/
/* line 8, ../sass/global.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../sass/global.scss */
body {
  background-color: #1E1926;
  font: normal 16px/24px Montserrat, Helvetica, Arial, freesans, sans-serif;
  overflow: hidden;
}

/* line 19, ../sass/global.scss */
.bg-style {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: center/cover;
  filter: grayscale(100%);
}

/* line 30, ../sass/global.scss */
.wrapper {
  width: 920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* line 37, ../sass/global.scss */
.sub-wrapper {
  width: 340px;
  margin: 0 auto;
  position: relative;
}

/* line 43, ../sass/global.scss */
#viewport {
  position: relative;
  height: 430px;
}

/***************************
 * Styles
 **************************/
/* line 51, ../sass/global.scss */
.page-heading {
  font-family: Vidaloka;
  color: #fff;
  text-align: center;
  margin-bottom: 34px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  position: relative;
  opacity: 0;
}
/* line 61, ../sass/global.scss */
.page-heading .bar {
  content: '';
  position: absolute;
  height: 12px;
  width: calc(100% + 106px);
  bottom: -10px;
  overflow: hidden;
}
/* line 68, ../sass/global.scss */
.page-heading .bar .bar-style {
  height: 1px;
  width: 106px;
  position: absolute;
  background-color: #f12148;
  right: 60px;
}

/* line 78, ../sass/global.scss */
.border {
  border: 1px solid #f12148;
}

/***************************
 * Top Navigation
 **************************/
/* line 86, ../sass/global.scss */
.top-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  margin-bottom: 36px;
}
/* line 95, ../sass/global.scss */
.top-navigation .card-navigation {
  text-align: center;
  border-radius: 20px;
  line-height: 2.2;
  position: relative;
  padding: 0 36px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .25s background-color ease-out;
  -moz-transition: .25s background-color ease-out;
  -ms-transition: .25s background-color ease-out;
  -o-transition: .25s background-color ease-out;
  transition: .25s background-color ease-out;
}
/* line 108, ../sass/global.scss */
.top-navigation .card-navigation .icon {
  opacity: 0;
  overflow: hidden;
  height: 0;
}
/* line 113, ../sass/global.scss */
.top-navigation .card-navigation .icon, .top-navigation .card-navigation .content {
  -webkit-transition: .25s opacity ease-out;
  -moz-transition: .25s opacity ease-out;
  -ms-transition: .25s opacity ease-out;
  -o-transition: .25s opacity ease-out;
  transition: .25s opacity ease-out;
}
/* line 120, ../sass/global.scss */
.top-navigation .card-navigation:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f12148;
  z-index: -1;
  -webkit-transition: .25s all ease-out;
  -moz-transition: .25s all ease-out;
  -ms-transition: .25s all ease-out;
  -o-transition: .25s all ease-out;
  transition: .25s all ease-out;
}
/* line 135, ../sass/global.scss */
.top-navigation .card-navigation.card-prev .icon {
  background: url(./../img/card-left.png) no-repeat center;
}
/* line 138, ../sass/global.scss */
.top-navigation .card-navigation.card-prev:before {
  right: -100%;
}
/* line 142, ../sass/global.scss */
.top-navigation .card-navigation.card-prev:hover:before {
  right: 0;
}
/* line 148, ../sass/global.scss */
.top-navigation .card-navigation.card-next .icon {
  background: url(./../img/card-right.png) no-repeat center;
}
/* line 151, ../sass/global.scss */
.top-navigation .card-navigation.card-next:before {
  left: -100%;
}
/* line 155, ../sass/global.scss */
.top-navigation .card-navigation.card-next:hover:before {
  left: 0;
}
/* line 161, ../sass/global.scss */
.top-navigation .card-navigation:hover .icon {
  opacity: 1;
  height: 11px;
  width: 22px;
  margin: 6px auto;
}
/* line 167, ../sass/global.scss */
.top-navigation .card-navigation:hover .content {
  opacity: 0;
  height: 0;
}
/* line 173, ../sass/global.scss */
.top-navigation .card-navigation-sep {
  background-color: #f12148;
  font-size: 24px;
  font-family: Vidaloka;
  height: 26px;
  width: 2px;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

/***************************
 * Cards
 **************************/
/* line 190, ../sass/global.scss */
.card-tuto {
  background: url(./../img/card-tuto.gif) no-repeat center;
  z-index: 200;
  opacity: .95;
  color: #fff;
  text-align: center;
}
/* line 196, ../sass/global.scss */
.card-tuto h2 {
  margin-top: 30px;
  line-height: 1.6;
  font-size: 45px;
}
/* line 201, ../sass/global.scss */
.card-tuto h4 {
  font-size: 13px;
  line-height: 1.2;
}

/* line 207, ../sass/global.scss */
.card-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% + 170px);
  z-index: 200;
}

/* line 216, ../sass/global.scss */
.card {
  display: none;
  flex-direction: column;
  opacity: 0;
  width: 340px;
  height: 430px;
  position: absolute;
  left: calc(50% - 170px);
  border-radius: 20px;
  -webkit-transition: .3s opacity ease-out;
  -moz-transition: .3s opacity ease-out;
  -ms-transition: .3s opacity ease-out;
  -o-transition: .3s opacity ease-out;
  transition: .3s opacity ease-out;
}
/* line 230, ../sass/global.scss */
.card:nth-child(2) {
  height: 394px;
  left: calc(50% - 170px + 18px);
  top: 18px;
}
/* line 235, ../sass/global.scss */
.card:nth-child(3) {
  height: 358px;
  left: calc(50% - 170px + 36px);
  top: 36px;
}
/* line 240, ../sass/global.scss */
.card:nth-child(4) {
  height: 322px;
  left: calc(50% - 170px + 54px);
  top: 54px;
}
/* line 245, ../sass/global.scss */
.card:nth-child(5) {
  height: 286px;
  left: calc(50% - 170px + 72px);
  top: 72px;
}
/* line 250, ../sass/global.scss */
.card:nth-child(-n+5) {
  display: flex;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.6);
}
/* line 254, ../sass/global.scss */
.card:last-child {
  display: flex;
}
/* line 257, ../sass/global.scss */
.card.in-deck {
  opacity: 1;
}
/* line 260, ../sass/global.scss */
.card .bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}
/* line 267, ../sass/global.scss */
.card.no-translate {
  -webkit-transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
  -o-transform: translate(0) !important;
  transform: translate(0) !important;
}

/* line 276, ../sass/global.scss */
.hide {
  opacity: 0 !important;
  display: none !important;
}

/* line 281, ../sass/global.scss */
.card-content {
  width: 320px;
  position: absolute;
  left: -220px;
  top: 0;
  padding-left: 20px;
  overflow: hidden;
  text-align: right;
}
/* line 289, ../sass/global.scss */
.card-content .card-title {
  margin-top: 30px;
  line-height: 1.2;
  font-family: Vidaloka;
  font-size: 45px;
  color: #fff;
  overflow: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 303, ../sass/global.scss */
.card-content .card-bar {
  height: 1px;
  width: 0;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 12px;
}
/* line 310, ../sass/global.scss */
.card-content .card-year {
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #fff;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 323, ../sass/global.scss */
.card-extra-viewport {
  overflow: hidden;
  position: absolute;
  top: 40%;
  right: 50%;
  width: 310px;
  height: 192px;
}
/* line 330, ../sass/global.scss */
.card-extra-viewport .card-extra {
  display: none;
  z-index: 1001;
  background: url(../img/bg-card-extra.png) no-repeat center;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 345, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-close {
  background: url(../img/card-extra-close.png) no-repeat center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
/* line 354, ../sass/global.scss */
.card-extra-viewport .card-extra .card-entries {
  margin: 40px 0 20px;
  overflow: hidden;
}
/* line 357, ../sass/global.scss */
.card-extra-viewport .card-extra .card-entries .card-entries-number {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
}
/* line 363, ../sass/global.scss */
.card-extra-viewport .card-extra .card-entries .card-entries-label {
  font-size: 11px;
  line-height: 1;
}
/* line 368, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-parts {
  display: flex;
  align-items: center;
  height: 77px;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 374, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-parts .card-real, .card-extra-viewport .card-extra .card-extra-parts .card-country {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
/* line 383, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-parts .card-real {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 386, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-parts .card-real-name, .card-extra-viewport .card-extra .card-extra-parts .card-country-name {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 12px;
}
/* line 391, ../sass/global.scss */
.card-extra-viewport .card-extra .card-extra-parts .card-real-label, .card-extra-viewport .card-extra .card-extra-parts .card-country-label {
  font-size: 11px;
  line-height: 1;
}

/***************************
 * Nav
 **************************/
/* line 402, ../sass/global.scss */
footer {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
}
/* line 407, ../sass/global.scss */
footer .legend {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
}
/* line 413, ../sass/global.scss */
footer .legend .min-year, footer .legend .max-year, footer .legend .legend-year {
  position: absolute;
  left: -60px;
  right: -60px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px;
}
/* line 419, ../sass/global.scss */
footer .legend .min-year .year-number, footer .legend .max-year .year-number, footer .legend .legend-year .year-number {
  line-height: 1;
  opacity: 0;
  -webkit-transform: translate3d(-30px, 0, 0);
  -moz-transform: translate3d(-30px, 0, 0);
  -ms-transform: translate3d(-30px, 0, 0);
  -o-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}
/* line 428, ../sass/global.scss */
footer .legend .min-year .year-bar, footer .legend .max-year .year-bar, footer .legend .legend-year .year-bar {
  height: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 40px;
  right: 40px;
  width: 0;
  top: 6px;
}
/* line 438, ../sass/global.scss */
footer .legend .legend-year {
  opacity: 0;
}
/* line 440, ../sass/global.scss */
footer .legend .legend-year .legend-year-content {
  line-height: 1;
  margin-right: -10px;
  color: #f12148;
  float: right;
}
/* line 447, ../sass/global.scss */
footer .legend .max-year {
  top: -6px;
}
/* line 450, ../sass/global.scss */
footer .legend .min-year {
  bottom: 5px;
}
/* line 454, ../sass/global.scss */
footer .nav-bar {
  width: 5px;
  margin: 0 2.1px;
  position: relative;
}
/* line 458, ../sass/global.scss */
footer .nav-bar .nav-bar-content {
  display: none;
  position: absolute;
  top: -65px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  -webkit-transform: translate3d(calc(-50% + 2.5px), 0, 0);
  -moz-transform: translate3d(calc(-50% + 2.5px), 0, 0);
  -ms-transform: translate3d(calc(-50% + 2.5px), 0, 0);
  -o-transform: translate3d(calc(-50% + 2.5px), 0, 0);
  transform: translate3d(calc(-50% + 2.5px), 0, 0);
}
/* line 471, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-rank {
  font-family: Vidaloka;
  color: #f12148;
  line-height: 1;
  overflow: hidden;
}
/* line 476, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-rank .nav-bar-rank-content {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 484, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-title {
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
}
/* line 488, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-title .nav-bar-title-content {
  -webkit-transform: translate3d(0, -110%, 0);
  -moz-transform: translate3d(0, -110%, 0);
  -ms-transform: translate3d(0, -110%, 0);
  -o-transform: translate3d(0, -110%, 0);
  transform: translate3d(0, -110%, 0);
}
/* line 496, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-sep {
  height: 30px;
  width: 2px;
  overflow: hidden;
  margin: 4px auto 0;
}
/* line 502, ../sass/global.scss */
footer .nav-bar .nav-bar-content .nav-bar-sep .nav-bar-sep-content {
  height: 30px;
  width: 1px;
  background-color: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 515, ../sass/global.scss */
footer .nav-bar .bg {
  width: 5px;
  height: 0;
  background-color: rgba(241, 33, 72, 0.5);
  cursor: pointer;
  -webkit-transition: .2s background-color ease-out;
  -moz-transition: .2s background-color ease-out;
  -ms-transition: .2s background-color ease-out;
  -o-transition: .2s background-color ease-out;
  transition: .2s background-color ease-out;
}
/* line 527, ../sass/global.scss */
footer .nav-bar.current .bg {
  background-color: #f12148;
}
/* line 532, ../sass/global.scss */
footer .nav-bar:hover .bg {
  background-color: #f12148;
}

/***************************
 * Current
 **************************/
/* line 542, ../sass/global.scss */
#current {
  position: absolute;
  opacity: 0;
  top: 20px;
  right: 20px;
  width: 90px;
  font-size: 24px;
  line-height: 1;
  font-family: Vidaloka;
}
/* line 553, ../sass/global.scss */
#current .current-number {
  color: #fff;
}
/* line 556, ../sass/global.scss */
#current .current-sep {
  color: #f12148;
  position: absolute;
  top: 5px;
  right: 38px;
}
/* line 562, ../sass/global.scss */
#current .current-maxnumber {
  color: #f12148;
  position: absolute;
  top: 18px;
  right: 0;
}

/***************************
 * Filters
 **************************/
/* line 573, ../sass/global.scss */
#filters {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  background: url(../img/filters.png) no-repeat center;
  width: 35px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #f12148;
  cursor: pointer;
}

/* line 586, ../sass/global.scss */
.filters-content {
  color: #fff;
  position: absolute;
  top: 26px;
  left: 64px;
  overflow: hidden;
  font-size: 11px;
}
/* line 593, ../sass/global.scss */
.filters-content p {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/***************************
 * Copyright
 **************************/
/* line 606, ../sass/global.scss */
#copyright {
  position: absolute;
  bottom: 235px;
  right: -26px;
  -webkit-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -moz-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -ms-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  -o-transform: rotate(-90deg) translate3d(0, 11vw, 0);
  transform: rotate(-90deg) translate3d(0, 11vw, 0);
}
/* line 615, ../sass/global.scss */
#copyright p {
  font-size: 9px;
  line-height: 1.2;
  color: #fff;
  padding: 0 12px 6px;
  display: inline-block;
  border-left: 1px solid #fff;
}
/* line 622, ../sass/global.scss */
#copyright p:last-child {
  border-right: 1px solid #fff;
}
/* line 625, ../sass/global.scss */
#copyright p a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
/* line 629, ../sass/global.scss */
#copyright p a:hover {
  text-decoration: none;
}

/***************************
 * Responsive
 **************************/
@media all and (max-width: 768px) {
  /* line 643, ../sass/global.scss */
  * {
    max-width: 340px;
  }

  /* line 646, ../sass/global.scss */
  body {
    height: 640px;
  }

  /* line 649, ../sass/global.scss */
  footer, #filters, .filters-content {
    display: none;
  }

  /* line 652, ../sass/global.scss */
  .wrapper {
    width: 90%;
  }

  /* line 655, ../sass/global.scss */
  header {
    margin-top: 40px !important;
  }

  /* line 658, ../sass/global.scss */
  #copyright {
    bottom: -170px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 666, ../sass/global.scss */
  #cards {
    /* padding-left: 50px; */
    position: relative;
    height: 400px;
    /* margin-left: 50px; */
    overflow: hidden;
    width: 330px;
  }
  /* line 673, ../sass/global.scss */
  #cards .card {
    height: 320px !important;
    width: 240px !important;
  }
  /* line 676, ../sass/global.scss */
  #cards .card .card-extra-viewport {
    right: -40% !important;
  }
  /* line 679, ../sass/global.scss */
  #cards .card .card-content {
    left: inherit !important;
    right: 30px;
  }
  /* line 684, ../sass/global.scss */
  #cards .card-tuto h2 {
    line-height: 1.2 !important;
  }
}
